<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <link href="http://arxiv.org/api/query?search_query%3Dtl%3Adirected%20grid%20theorem%26id_list%3D%26start%3D0%26max_results%3D20" rel="self" type="application/atom+xml"/>
  <title type="html">ArXiv Query: search_query=tl:directed grid theorem&amp;id_list=&amp;start=0&amp;max_results=20</title>
  <id>http://arxiv.org/api/yFQko87TAsHc5Mru8gIYEMMDIxw</id>
  <updated>2022-10-20T00:00:00-04:00</updated>
  <opensearch:totalResults xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">109788</opensearch:totalResults>
  <opensearch:startIndex xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">0</opensearch:startIndex>
  <opensearch:itemsPerPage xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">20</opensearch:itemsPerPage>
  <entry>
    <id>http://arxiv.org/abs/1303.1831v2</id>
    <updated>2014-07-18T16:10:04Z</updated>
    <published>2013-03-07T21:22:39Z</published>
    <title>Grid Movies</title>
    <summary>  We present a grid diagram analogue of Carter, Rieger and Saito's smooth movie
theorem. Specifically, we give definitions for grid movies, grid movie
isotopies and present a definition of grid planar isotopy as a particular
subset of the grid diagram moves: stabilization, destabilization and
commutation. We show that grid planar isotopy classes are in 1-1 correspondence
with smooth planar isotopy classes by using a new planar grid algorithm that
takes a smooth knot diagram to a grid diagram. We then present generalizations
of both the smooth and grid movie theorems that apply to surfaces with
boundary.
</summary>
    <author>
      <name>Matthew Graham</name>
    </author>
    <arxiv:comment xmlns:arxiv="http://arxiv.org/schemas/atom">Original comments: 38 pages, 19 figures Revision comments: Enlarged
  movie moves and made a number of minor corrections throughout</arxiv:comment>
    <link href="http://arxiv.org/abs/1303.1831v2" rel="alternate" type="text/html"/>
    <link title="pdf" href="http://arxiv.org/pdf/1303.1831v2" rel="related" type="application/pdf"/>
    <arxiv:primary_category xmlns:arxiv="http://arxiv.org/schemas/atom" term="math.GT" scheme="http://arxiv.org/schemas/atom"/>
    <category term="math.GT" scheme="http://arxiv.org/schemas/atom"/>
  </entry>
  <entry>
    <id>http://arxiv.org/abs/1502.01333v1</id>
    <updated>2015-02-04T20:55:17Z</updated>
    <published>2015-02-04T20:55:17Z</published>
    <title>On Piterbarg's max-discretisation theorem for homogeneous Gaussian
  random fields</title>
    <summary>  Motivated by the papers of Piterbarg (2004) and H\"{u}sler (2004), in this
paper the asymptotic relation between the maximum of a continuous dependent
homogeneous Gaussian random field and the maximum of this field sampled at
discrete time points is studied. It is shown that, for the weakly dependent
case, these two maxima are asymptotically independent, dependent and coincide
when the grid of the discrete time points is a sparse grid, Pickands grid and
dense grid, respectively, while for the strongly dependent case, these two
maxima are asymptotically totally dependent if the grid of the discrete time
points is sufficiently dense, and asymptotically dependent if the the grid
points are sparse or Pickands grids.
</summary>
    <author>
      <name>Zhongquan Tan</name>
    </author>
    <author>
      <name>Kaiyong Wang</name>
    </author>
    <link href="http://arxiv.org/abs/1502.01333v1" rel="alternate" type="text/html"/>
    <link title="pdf" href="http://arxiv.org/pdf/1502.01333v1" rel="related" type="application/pdf"/>
    <arxiv:primary_category xmlns:arxiv="http://arxiv.org/schemas/atom" term="math.PR" scheme="http://arxiv.org/schemas/atom"/>
    <category term="math.PR" scheme="http://arxiv.org/schemas/atom"/>
  </entry>
  <entry>
    <id>http://arxiv.org/abs/math/0511009v1</id>
    <updated>2005-11-01T02:47:31Z</updated>
    <published>2005-11-01T02:47:31Z</published>
    <title>The Poncelet grid and the billiard in an ellipse</title>
    <summary>  We deduce a recent theorem by R. Schwartz on the structure of the so-called
Poncelet grid from complete integrability of the billiard in an ellipse
</summary>
    <author>
      <name>M. Levi</name>
    </author>
    <author>
      <name>S. Tabachnikov</name>
    </author>
    <link href="http://arxiv.org/abs/math/0511009v1" rel="alternate" type="text/html"/>
    <link title="pdf" href="http://arxiv.org/pdf/math/0511009v1" rel="related" type="application/pdf"/>
    <arxiv:primary_category xmlns:arxiv="http://arxiv.org/schemas/atom" term="math.DG" scheme="http://arxiv.org/schemas/atom"/>
    <category term="math.DG" scheme="http://arxiv.org/schemas/atom"/>
    <category term="math.DS" scheme="http://arxiv.org/schemas/atom"/>
  </entry>
</feed>
